@model Lourse.Models.Author
@{
    ViewBag.Title = "AuthorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AuthorForm</h2>


@using (Html.BeginForm("Save", "Author"))
{
    <input type="text" typeof="hidden" readonly class="form-control" name="Id" value=@Model.Id>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" value=@Model.Name class="form-control" name="Name" placeholder="Enter Name">
    </div>
   

    <button type="submit" class="btn btn-primary">Submit</button>

}