@model Lourse.ViewModels.StudentCoursesViewModel
@{
    ViewBag.Title = "EnrollInCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EnrollInCourse</h2>

<div class="container">

    @foreach (var course in Model.Courses)
    {
        <div class="card item" style="width: 20rem;">
            <h5 class="card-header">@course.DatePublished.GetDateTimeFormats('D')[0]</h5>
            <div class="card-body">
                <h5 class="card-title">@course.Title</h5>
                <p class="card-text">@course.Description</p>
                @Html.ActionLink("Enroll", "ResgisterInCourse", "Student",
               new { studentId = Model.Student.Id,courseId=course.Id },
               new { @class = "btn btn-primary", data_icon = "gear" })
            </div>
        </div>
        <br />
    }

</div>