@model Lourse.ViewModels.CourseAuthorViewModel
@{
    ViewBag.Title = "CourseForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    bool isEdit = false;
    if (Model.Course.Id != 0)
    {
        ViewBag.Title = "Edit Course";
        isEdit = true;

    }
}

<h2>CourseForm</h2>

@using (Html.BeginForm("Save", "Course"))
{

    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" value=@Model.Course.Title class="form-control" name="Course.Title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label for="Description">Desciption</label>
        <textarea type="text"  class="form-control" rows="5"  name="Course.Description" placeholder="Enter Description">@Model.Course.Description</textarea>
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" value=@Model.Course.Price class="form-control" name="Course.Price" placeholder="Enter Price">
    </div>

    if (!isEdit)
    {
        <div class="form-group">
            <select class="form-control" name="Course.AuthorId">
                <option>Select Author</option>
                @foreach (var author in Model.Authors)
                {
                    <option value=@author.Id> @author.Name</option>
                }
            </select>
        </div>
    }
    else
                {
                    <h4>Author: @Model.Course.Author.Name</h4>
                }


    @Html.HiddenFor(c => c.Course.Id)

    <button type="submit" class="btn btn-primary">Submit</button>

}



